ul.my-teams-list {
    list-style: none;
    padding: 2rem;

    & > li {
        margin-bottom: 2rem;
        border: 1px solid #999;
        padding: 1rem;
        position: relative;

        h2 {
            margin-top: 0;
            margin-right: 1rem;
            display: inline-block;
        }

        &.create-team {
            border-style: dashed;
            color: #999;
            padding: 0;

            & a, & a:focus, & a:visited {
                color: inherit;
                display: block;
                padding: 1rem;
            }
        }
    }
}

ul.inline {
    margin-bottom: 1rem;

    li {
        &:after {
            content: ', ';
        }
        &:last-child:after {
            content: '';
        }
    }
}

.regions {
    color: #AAA;
}