html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Roboto, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    text-decoration: none;

    &:visited {

    }
}

* {
    //letter-spacing: 0.01rem;
}