html {
  position: relative;
  min-height: 100%;
}

html body {
  margin: 0 0 10rem 0;
  padding: 0;
  font-family: sans-serif;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#footer nav.navbar {
  margin: 0;
  border-radius: 0;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

#footer nav.navbar .navbar-collapse {
  border: none;
}

#feedback-button.fixed {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /*display: inline-block;*/
}
